{% extends 'main.html' %}

{% block title %}Movies{% endblock %}


{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save">
    </form>

    <h3>Genres</h3>
    {% for genre in genres %}
        <form action="{% url 'genre-update' genre.id %}" method="POST">
            {% csrf_token %}
            <input type="text" value="{{ genre.name }}" name="name"/>
            <input type="submit" value="Update">
        </form>
    {% endfor %}
{% endblock %}