{% extends 'main.html' %}
{% load static %}

{% block title %}Movies{% endblock %}


{% block content %}
    
    {% include 'movies/components/search_bar.html'  %}

    <div class="container">
        <div class="featured-movies mt-5">
            <h2 class="text-white text-center m-4">Upcoming movies...</h2>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for movie in upcoming_movies  %}
                        <div class="carousel-item pointer {% if movie == upcoming_movies.first %} active {% endif %}" onclick="openURL(`{% url 'movie-details' movie.id %}`)">
                            <img src="{{ movie.thumbnail.url }}" class="carousel-img object-cover-center d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ movie.title }}</h5>
                                <p>{{ movie.release_date }}</p>
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="album bg-transparent mt-5">
        
            <h2 class="text-white text-center mb-4">{% now "F" %}'s top</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for movie in top_this_month %}
                    <div class="col pointer" onclick="openURL(`{% url 'movie-details' movie.id %}`)">
                        <div class="card shadow-sm border-0">
                        <img class="bd-placeholder-img card-img-top object-cover-center" width="100%" height="225" src="{{ movie.thumbnail.url }}" role="img"/>
            
                        <div class="card-body bg-dark">
                            <h5 class="text-white">{{ movie.title }}</h5>
                            <p class="card-text color-darker">{{ movie.story|slice:"140" }}...</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <small class="color-darker me-2"><i class="fa-regular fa-heart"></i> {{ movie.total_positive_votes }}</small>
                                    <small class="color-darker"><i class="fa-regular fa-thumbs-down"></i> {{ movie.total_negative_votes }}</small>
                                </div>
                                <small class="color-darker"><i class="fa-regular fa-calendar me-1"></i> {{ movie.release_date }}</small>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>

        </div>
    
        {% if movies_for_you %}
            <div class="carousel-area mt-5" onmouseleave="carouselMouseLeaveEvent()" onmouseover="targetCarousel('forYouCarousel')">
                <h2 class="text-white text-center mb-4">Top picks for you</h2>
                <button class="carouselBTN btn text-white carousel-left" onclick="scrollCarousel('left')">
                    <i class="fa-solid fa-angle-left text-lg"></i>
                </button>
                <div id="forYouCarousel" class="custom-carousel">
                    {% for movie in movies_for_you %}
                        <div class="custom-carousel-item" onclick="openURL(`{% url 'movie-details' movie.id %}`)">
                            <div class="carousel-item-img">
                                <img src="{{ movie.poster.url }}" class="object-cover-center">
                            </div>
                            <div class="carousel-item-body bg-dark">
                                <h6 class="text-white text-truncate" title="{{ movie.title }}">{{ movie.title }}</h6>
                                <div class="d-flex align-items-center mt-3">
                                    <small class="color-darker me-2"><i class="fa-regular fa-heart"></i> {{ movie.total_positive_votes }}</small>
                                    <small class="color-darker"><i class="fa-regular fa-thumbs-down"></i> {{ movie.total_negative_votes }}</small>
                                </div>
                            </div>
                            <div class="carousel-item-text-area">
                                <p class="carousel-item-text">
                                    {{ movie.story }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carouselBTN btn text-white carousel-right" onclick="scrollCarousel('right')">
                    <i class="fa-solid fa-angle-right text-lg"></i>
                </button>
            </div>
        {% elif request.user.is_authenticated and not request.user.profile.favorite_genre %}
            <div class="favorite-genre mt-5">
                <h2 class="text-white text-center mb-4">What's your favorite genre?</h2>
                <div class="genres m-auto w-50">
                    <form action="{% url 'update-profile' %}" method="POST" onchange="this.submit()">
                        {% csrf_token %}
                        <select class="form-control bg-dark text-white" name="favorite_genre">
                            <option value="" selected>Select...</option>
                            {% for genre in genres %}
                                <option value="{{ genre.id }}">{{ genre.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        {% endif %}


        {% if being_discussed %}
            <div class="carousel-area mt-5" onmouseleave="carouselMouseLeaveEvent()" onmouseover="targetCarousel('being-discussed')">
                <h2 class="text-white text-center mb-4">What people are discussing</h2>
                <button class="carouselBTN btn text-white carousel-left" onclick="scrollCarousel('left')">
                    <i class="fa-solid fa-angle-left text-lg"></i>
                </button>
                <div id="being-discussed" class="custom-carousel">
                    {% for movie in being_discussed %}
                        <div class="custom-carousel-item" onclick="openURL(`{% url 'movie-details' movie.id %}`)">
                            <div class="carousel-item-img">
                                <img src="{{ movie.poster.url }}" class="object-cover-center">
                            </div>
                            <div class="carousel-item-body bg-dark">
                                <h6 class="text-white text-truncate" title="{{ movie.title }}">{{ movie.title }}</h6>
                                <div class="d-flex align-items-center mt-3">
                                    <small class="color-darker me-2"><i class="fa-regular fa-heart"></i> {{ movie.total_positive_votes }}</small>
                                    <small class="color-darker"><i class="fa-regular fa-thumbs-down"></i> {{ movie.total_negative_votes }}</small>
                                </div>
                            </div>
                            <div class="carousel-item-text-area">
                                <p class="carousel-item-text">
                                    {{ movie.story }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carouselBTN btn text-white carousel-right" onclick="scrollCarousel('right')">
                    <i class="fa-solid fa-angle-right text-lg"></i>
                </button>
            </div>
        {% endif %}

        {% if popular %}
            <div class="carousel-area mt-5" onmouseleave="carouselMouseLeaveEvent()" onmouseover="targetCarousel('popular')">
                <h2 class="text-white text-center mb-4">Popular on Movieland</h2>
                <button class="carouselBTN btn text-white carousel-left" onclick="scrollCarousel('left')">
                    <i class="fa-solid fa-angle-left text-lg"></i>
                </button>
                <div id="popular" class="custom-carousel">
                    {% for movie in popular %}
                        <div class="custom-carousel-item" onclick="openURL(`{% url 'movie-details' movie.id %}`)">
                            <div class="carousel-item-img">
                                <img src="{{ movie.poster.url }}" class="object-cover-center">
                            </div>
                            <div class="carousel-item-body bg-dark">
                                <h6 class="text-white text-truncate" title="{{ movie.title }}">{{ movie.title }}</h6>
                                <div class="d-flex align-items-center mt-3">
                                    <small class="color-darker me-2"><i class="fa-regular fa-heart"></i> {{ movie.total_positive_votes }}</small>
                                    <small class="color-darker"><i class="fa-regular fa-thumbs-down"></i> {{ movie.total_negative_votes }}</small>
                                </div>
                            </div>
                            <div class="carousel-item-text-area">
                                <p class="carousel-item-text">
                                    {{ movie.story }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carouselBTN btn text-white carousel-right" onclick="scrollCarousel('right')">
                    <i class="fa-solid fa-angle-right text-lg"></i>
                </button>
            </div>
        {% endif %}
        
        <div class="mt-5 text-center">
            <a href="{% url 'movies' %}" class="btn btn-dark px-3">Browse all movies <i class="fa fa-arrow-rght"></i></a>
        </div>

    </div>
    
{% endblock %}