{% extends 'main.html' %}

{% load static %}

{% block title %}Movies{% endblock %}


{% block content %}
    <div class="cover d-flex justify-content-center align-items-center">
        <form class="d-flex flex-column justify-content-center align-items-center" style="width: 30%;">
            <input type="text" name="search" value="{{ search }}" class="form-control p-2" id="search-movies-input" placeholder="Search MovieLAND" />
            <input type="submit" value="Search" class="btn btn-dark mt-2 m-auto" />
        </form>
    </div>

    
    <a href="{% url 'movies' %}?upcoming=True" class="{% if upcoming %} bg-danger {% endif %}">Upcoming</a>
    <a href="{% url 'movies' %}">X</a>
    <h3>Movies</h3>
    <a href="{% url 'movie-create' %}">Create Movie</a>
    {% if not movies %}
        <p>No Movies were found!</p>
    {% endif %}
    {% for movie in movies %}
        <p>
            <a href="{% url 'movie-details' movie.id %}">{{ movie.title }}</a>
            {% if movie.release_date > current_date %}
                Coming on {{ movie.release_date }}
            {% endif %}
        </p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}