{% extends 'main.html' %}

{% block title %} {{ movie.title }} {% endblock %}


{% block content %}
    <h3>{{ movie.title }}</h3>

    <video width="320" height="240" controls poster="{{ movie.thumbnail.url }}">
        <source src="{{ movie.movie_file.url }}" type="video/mp4" >
        Your browser does not support the video tag.
    </video>

    <a href="{% url 'movie-update' movie.id %}">Update</a>
    <form action="{% url 'movie-delete' movie.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete {{ movie.title }}">
    </form>
{% endblock %}