.login-area {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.778)), url(../img/movie_details_background.jpg);
    background-attachment: fixed;
    background-position: center;
}

.login-form-area {
    width: 400px;
    padding: 10px;
}

.customize-input::placeholder {
    color: rgb(118, 118, 118) !important;
}

.customize-input {
    border: none !important; 
}