@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&family=Roboto:wght@300;500&family=Skranji&display=swap');

body {
    background-color: black !important;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

#logo {
    color: white;
    text-decoration: none;
    font-family: 'Skranji', cursive;
    font-size: 26px;
}

.navbar-customization {
    position: absolute;
    background: #00000065;
    width: 100%;
}

footer {
    position: static !important;
    bottom: 0;
}

.footer-link {
    font-size: 26px;
}