.movie-details-page-cover {
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.778)), url(../img/movie_details_background.jpg);
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: -100000;
}

.movie-poster {
    height: 580px;
    width: 30%;
    border-radius: 5px;
}

.movie-poster img {
    width: 100%;
    height: 100%;
}

.movie-details { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.votes {
    font-size: 20px;
}

.release-date {
    font-size: 20px;
}

.movie-story {
    width: 70%;
    text-align: justify;
}

.movie-trailer-area {
    position: relative;
}

.trailer {
    width: 100%;
    padding: 0px;
}

.review:last-child {
    margin-bottom: 0px !important;
}

.video-control {
    position: absolute;
    top: 29%;
    color: #ffffffd1 !important;
    left: 39%;
    font-size: 10vw !important;
    cursor: pointer !important;
    z-index: 1000;
    border: none !important;
    transition: all 1s ease;
} 

#movie-cast {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    display: flex;
    cursor: grab;
    scroll-behavior: smooth;
}

.reviews {
    color: white !important;
}

#review-body::placeholder {
    color: rgb(118, 118, 118) !important;
}

.custom-review-input {
    border: none !important;
}

.reviewer-img {
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    width: 50px;
}

.time-diff {
    font-weight: 300;
    font-size: 15px;
}



.hide-video-btn {
    animation: fade-away .5s ease forwards;
}

.show-video-btn {
    animation: fade-in .5s ease forwards;
}

@keyframes fade-away {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}