.cover {
    height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/movies.jpg);
    background-attachment: fixed;
    background-position: center;
}

#search-movies-input {
    background: #00000094;
    color: white;
    border: solid rgba(255, 255, 255, 0.438) 1px;
}

#search-movies-input:focus {
    outline: none !important;
}

#search-movies-input::placeholder {
    color: rgb(211, 211, 211);
}

.carousel-img {
    height: 750px !important;
}

.carousel-text {
    background-color: #000000bf;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.color-darker {
    color: #b1b1b1 !important;
}
