.movie-details-page-cover {
    height: 80vh;
    padding-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.802), rgba(0, 0, 0, 0.778)), url(../img/movie_details_background.jpg);
    background-attachment: fixed;
    background-position: center;
}

.movie-poster {
    height: 580px;
    width: 30%;
    border-radius: 5px;
}

.movie-poster img {
    width: 100%;
    height: 100%;
}

.movie-details { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.votes {
    font-size: 20px;
}

.release-date {
    font-size: 20px;
}

.movie-story {
    width: 70%;
    text-align: justify;
}

.trailer {
    width: 100%;
    /* height: 729px; */
    background: red;
    padding: 0px;
    margin-top: 100px;
}