<div class="container footer-container pt-5">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center"> 
          <span class="mb-3 mb-md-0 text-white">© 2023 Movieland <i class="fa-solid fa-film"></i></span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="footer-link text-white" href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li class="ms-3"><a class="footer-link text-white" href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="ms-3"><a class="footer-link text-white" href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </footer>
</div>